printWidth: 100
singleQuote: true
tabWidth: 4
overrides:
    - files: '*.json'
      options:
          tabWidth: 2
importOrderSeparation: true
importOrderSortSpecifiers: true
importOrder:
    - '^@splunk/(?!censys)(.*)$'
    - '^@splunk/censys(.*)$'
    - '^[./]'
