{"id":"##id##","ts":"##ts##","op":"##op##","src":"##src##","riskID":"##riskID","riskType":"##riskType##","reason":"##reason##","delta":{"name":"##name##","severity":"##severity##","userStatus":"##userStatus##","displayName":"##displayName##","metadata_added":[{"cdn":"##cdn##","src":"##src##","cloud":"##cloud##","srcID":"##srcID##","classification":"##classification##"}],"enabled":"##enabled##","contextType":"##contextType##","description":"##description##","subjectType":"##subjectType##","defaultSeverity":"##defaultSeverity##","recommendedSeverity":"##recommendedSeverity##"},"dataInputName":"##dataInputName##","riskName":"##riskName##"}
